<div class="panel relative shadow-big">
    <div class="container as-10 xl-15 lg-15">
        <div class="panel-header pl-0 pr-0">
            <nav aria-label="Breadcrumb navbar">
                <ol class="breadcrumb" aria-label="Breadcrumb">
                    <li itemprop="itemListElement">
                        <a href="/" title="AgroBirja.az - Ana səhifə">
                            <span itemprop="name">AgroBirja.az</span>
                        </a>

                    </li>
                    <li itemprop="itemListElement">
                        <a href="/birja.php" title="Birja">
                            <span itemprop="name">Birja</span>
                        </a>

                    </li>
                </ol>
            </nav>
        </div>

        <div class="panel-header pl-0 pr-0 border-0">
            <h1 class="m-0 bold text-main text-uppercase">
                Agro Birja
            </h1>
        </div>
    </div>
</div>

<div class="container as-10 xl-15 lg-15 pt-20 pb-20">
    <div class="shadow-big">
        <form [formGroup]="filterForm" (ngSubmit)="submitForm()">
            <div class="pt-20 pl-20 pr-20 bg-gray">
                <div class="row as-5">
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <p-dropdown [options]="categoryList" (onChange)='onSelectCategory($event)'
                            placeholder="Kategoriya seçin" filter="true"
                            class="input custom select border-0 radius-20 shadow-big">
                        </p-dropdown>
                    </div>
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <p-dropdown [options]="prodSelectList" formControlName="category_id"
                            (onChange)="onSelectProduct($event)" placeholder="Kategoriya seçin" filter="true"
                            class="input custom select border-0 radius-20 shadow-big">
                        </p-dropdown>
                    </div>
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <p-dropdown [options]="kindList" formControlName="kind_id" placeholder="Məhsulu seçin"
                            filter="true" class="input custom select border-0 radius-20 shadow-big">
                        </p-dropdown>

                    </div>
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <div class="col md-6 sm-6 xs-6 mb-20">
                            <p-dropdown [options]="sellerList" formControlName="user_id" placeholder="Məhsulu seçin"
                                filter="true" class="input custom select border-0 radius-20 shadow-big">
                            </p-dropdown>

                        </div>
                    </div>
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <p-calendar class="input custom select border-0 radius-20 shadow-big" placeholder="../../...."
                            name="preparingDate" formControlName="from" dateFormat="yy-mm-dd" [dataType]="'string'">
                        </p-calendar>
                    </div>
                    <div class="col md-6 sm-6 xs-6 mb-20">
                        <p-calendar class="input custom select border-0 radius-20 shadow-big" placeholder="../../...."
                            name="preparingDate" formControlName="to"  dateFormat="yy-mm-dd" [dataType]="'string'">
                        </p-calendar>
                    </div>
                    <div class="col xl-1 lg-2 md-2 sm-3 xs-4 mb-20">
                        <button type="submit" class="btn bg-orange w-100p border-0 radius-20 shadow-big">Filter et</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive border-0 o-auto">
            <table class="table custom-table bg-gray">

                <thead class="bg-white">
                    <tr>
                        <th colspan="2">Satıcı</th>
                        <th>Məhsul</th>
                        <th>Növ</th>
                        <th>Qiymət</th>
                        <th>Həcm</th>
                        <th>Satış</th>
                        <th>Tarix</th>
                        <th><i aria-hidden="true" class="icon-ellipsis-h-circle"></i></th>
                    </tr>
                </thead>

                <tbody class="no-wrap">

                    <tr *ngFor="let product of productList; let i=index; trackBy:product?.id">

                        <td class="pr-0">
                            <div *ngIf="product?.images.url" class="thumb responsive pb-in-100 radius-50p w-30 border">
                                <img src="http://test.agrobirja.az{{product?.images.url}}" width="30" height="30">
                            </div>
                        </td>

                        <td width="30%">
                            <span class="bold pointer text-main">{{product?.user.name}}</span>
                        </td>
                        <td>{{product?.name[0].name_az}}</td>

                        <td>{{product?.kind.name_az}}</td>

                        <td>
                            <span class="p-5 pl-7 pr-7 bg-gray radius-4 text-green bold">
                                {{product?.price}}
                                <i aria-hidden="true" class="icon-currency-azn small"></i>
                                / {{product?.unit.name_az}}
                            </span>
                        </td>

                        <td><span class="text-special bold">{{product?.common}} {{product?.unit.name_az}} </span></td>
                        <td>
                            <div class="progress radius-5 w-100">
                                <div [ngStyle]="{'width': product.sell + '%'}"
                                    class="progress-bar radius-5 bg-main text-right" role="progressbar">
                                    {{product?.sell}} %</div>
                            </div>
                        </td>

                        <td>
                            <span class="text-gray">{{product?.created_at |date: 'dd/MM/yyyy'}}</span>
                        </td>

                        <td  class="text-right">
                            <a  [routerLink]="[ 'details', product?.id ]" aria-label="Ətraflı məlumat" title="Ətraflı məlumat"
                                data-toggle="tooltip" class="btn xs circle border-0 shadow-big text-green">
                                <i aria-hidden="true" class="icon-eye v-align-middle"></i>
                            </a>
                        </td>

                    </tr>


                </tbody>

            </table>
        </div>

    </div>
</div>