<div class="container as-10 xl-15 lg-15 pt-20 pb-20">
  <div class="panel relative shadow-big">
    <div class="panel-body p-40">
      <div class="row as-15 sm-10 xs-10 justify-content-center mb-40">
        <div class="col as-5 sm-6 xs-12 pb-10">
          <div class="fotorama shadow-big" data-wow-duration="1s" data-width="1920" data-ratio="300/200"
            data-maxheight="400px" data-nav="thumbs" data-thumbheight="50" data-thumbwidth="80" data-fit="cover"
            data-allowfullscreen="true">
            <!--Əsas Şəkil-->
            <img *ngIf="productResponse?.images[0]?.url" src="{{productResponse?.images[0]?.url}}" alt="Product name"
              width="480" height="310">
            <!--Digər şəkillər-->
            <!-- <a href="assets/images/ulu.png" data-thumb="assets/images/ulu.png"></a>
                        <a href="assets/images/ulu.png" data-thumb="assets/images/ulu.png"></a>
                        <a href="assets/images/ulu.png" data-thumb="assets/images/ulu.png"></a> -->

          </div>
        </div>
        <div class="col as-12 lg-7 pt-10">
          <h2 class="title bold h3 text-main mb-20"> {{productResponse?.category?.name}} </h2>
          <p class="description font-16 light">
            {{description}}
          </p>
          <table class="table mb-20">
            <tbody>
              <tr>
                <td class="bold">Şirkət:</td>
                <td>
                  <a [routerLink]="['/companyInfo/profile', userId]" class="bold">
                    {{productResponse?.user?.name}}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="bold">Kategoriya</td>
                <td>{{productResponse?.category?.parent?.name}}</td>
              </tr>
              <tr>
                <td class="bold">Növü</td>
                <td>{{productResponse?.kind?.name}}</td>
              </tr>
              <tr>
                <td class="bold">Qiymət</td>
                <td>{{productResponse?.price}} AZN</td>
              </tr>
              <tr>
                <td class="bold">Kalibri:</td>
                <td> {{productResponse?.kolibry?.name}} </td>
              </tr>
              <tr>
                <td class="bold">Miqdarı</td>
                <td>{{productResponse?.common}} {{productResponse?.unit?.name}}</td>
              </tr>
              <tr>
                <td class="bold">Yıgılma tarixi</td>
                <td>{{productResponse?.accumulated_at | date: 'dd/MM/yyyy'}}</td>
              </tr>
              <tr>
                <td class="bold">Saxlanma tarixi</td>
                <td>{{productResponse?.expiry_time | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- CHART -->
      <!-- <div class="clear p-20 shadow-big">

                        <canvas id="product-chart"></canvas>
                    </div> -->
      <!-- CHART END -->
    </div>
  </div>
</div>