<div class="account-body bg-white shadow-big p-40">
    <div class="table-responsive border-0 mb-40">
        <table class="table custom-table bg-gray">
            <thead class="bg-white">
            <tr>
                <th>№</th>
                <th>{{'product' | translate}}</th>
                <th>{{'type' | translate}}</th>
                <th>{{'price' | translate}}</th>
                <th>{{'quantity' | translate}}</th>
                <th>{{'sale' | translate}}</th>
                <th>{{'date' | translate}}</th>
                <th>{{'see' | translate}}</th>
            </tr>
            </thead>
            <tbody class="no-wrap">
            <tr *ngFor="let product of productList; let i=index; trackBy: productService.trackByFn ">
                <td> {{i +1}} </td>
                <td>{{product?.category?.name}} </td>
                <td>{{product?.kind?.name}}</td>
                <td>
                    <span class="p-5 pl-7 pr-7 bg-gray radius-4 text-green bold">
                        {{product?.price}}
                        <i aria-hidden="true" class="icon-currency-azn small"></i>
                        / {{product?.unit?.name}}
                    </span>
                </td>
                <td><span class="text-special bold">{{product?.common}} {{product?.unit?.name}}</span></td>
                <td>
                    <div class="progress radius-5 w-100">
                        <div class="progress-bar radius-5 bg-main text-right" role="progressbar"
                        [ngStyle]="{'width': product?.sell + '%'}"
                        > {{product?.sell}} %</div>
                    </div>
                </td>
                <td>
                    <span class="text-gray">
                        {{product?.created_at |date: 'dd/MM/yyyy'}}
                    </span>
                </td>
                <td class="text-right">
                    <a [routerLink]="[ 'details', product?.id ]"
                       aria-label="Ətraflı məlumat"
                       title="Ətraflı məlumat" data-toggle="tooltip"
                       class="btn xs circle border-0 shadow-big text-green">
                        <i aria-hidden="true" class="icon-eye v-align-middle"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

