<div class="account-body bg-white shadow-big p-40">
  <div class="pb-20 mb-40 border-bottom clear">
    <h3 class="bold m-0 text-main text-uppercase float-left mt-3 mb-3">
      {{'newProduct' | translate}}
    </h3>
    <div class="clear float-right">
      <a [routerLink]="['/dashboard/products']" class="btn bg-white border-0 shadow-big radius-20 float-left"
        title="Geri">
        <i aria-hidden="true" class="icon-arrow-left v-align-middle"></i>
        <span class="hide-xs v-align-middle ml-10">{{'back' | translate}}</span>
      </a>
      <ul class="form-lang type-none mb-0 p-0 clear float-left" role="tablist">
        <li role="presentation" class="float-left ml-10" (click)="onChangeLanguage('az', 1)">
          <span role="button" [ngClass]="{'bg-green': selectLang === 1}"
            class="btn  circle border-0 shadow-big ">AZ</span>
        </li>
        <li role="presentation" class="float-left ml-10 " (click)="onChangeLanguage('en', 2)">
          <span role="button" [ngClass]="{'bg-green': selectLang === 2}"
            class="btn  circle border-0 shadow-big">EN</span>
        </li>
        <li role="presentation" class="float-left ml-10" (click)="onChangeLanguage('ru', 3)">
          <span role="button" [ngClass]="{'bg-green': selectLang === 3}"
            class="btn circle border-0 shadow-big">RU</span>
        </li>
      </ul>
    </div>
  </div>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="row as-10">
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'category' | translate}}</label>
        <p-dropdown [options]="categoryList" (onChange)="onSelectCategory($event)" placeholder="{{'select.category' | translate}}"
          filter="true" class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'product' | translate}}</label>
        <p-dropdown formControlName="category_id" [options]="productList" (onChange)="onSelectProduct($event)"
          placeholder="{{'select.product' | translate}}" filter="true" class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'type' | translate}}</label>
        <p-dropdown formControlName="kind_id" [options]="kindList" placeholder="{{'select.kind' | translate}}" filter="true"
          class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'quality' | translate}}</label>
        <p-dropdown formControlName="quality_id" [options]="qualityList" placeholder="{{'select.quality' | translate}}" filter="true"
          class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'packege' | translate}}</label>
        <p-dropdown formControlName="package_id" [options]="packegeList" placeholder="{{'select.packege' | translate}}" filter="true"
          class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10"> {{'productKalibry' | translate}} </label>
        <p-dropdown formControlName="kalibry_id" [options]="kalibryList" placeholder="{{'select.productKalibry' | translate}}"
          filter="true" class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 mb-20">
        <label for="prod_name" class="pl-10">{{'unit' | translate}}</label>
        <p-dropdown formControlName="unit_id" [options]="unitList" (onChange)="onUnitSelect($event)"
          placeholder="{{'select.unit' | translate}}" filter="true" class="input custom select border-0 radius-20 shadow-big">
        </p-dropdown>
      </div>
      <div class="col as-3 md-4 sm-6 xs-12 mb-20 pb-10">
        <label for="" class="pl-10">{{'common' | translate}} {{ selectUnit }} </label>
        <input formControlName="common" type="number" min="0" max="" id=""
          class="input border-0 radius-20 shadow-big" />
      </div>
      <div class="col as-3 md-4 sm-6 xs-12 mb-20 pb-10">
        <label for="" class="pl-10">
          {{'productPriceUnit' | translate}} {{ selectUnit }}</label>
        <input formControlName="price" type="number" min="0" max="" id="" class="input border-0 radius-20 shadow-big" />
      </div>
      <div class="col as-3 md-4 sm-6 xs-12 mb-20 pb-10">
        <label for="" class="pl-10">{{'accumulated_at' | translate}}</label>
        <p-calendar formControlName="accumulated_at" class="input custom border-0 radius-20 shadow-big"
          placeholder="../../...." name="preparingDate" dateFormat="yy-mm-dd" [dataType]="'string'">
        </p-calendar>
      </div>
      <div class="col as-3 md-4 sm-6 xs-12 mb-20 pb-10">
        <label for="" class="pl-10"> {{'expiry_time' | translate}} </label>
        <p-calendar formControlName="expiry_time" class="input custom border-0 radius-20 shadow-big"
          placeholder="../../...." name="preparingDate" dateFormat="yy-mm-dd" [dataType]="'string'">
        </p-calendar>
      </div>
      <div class="col as-3 md-4 sm-6 xs-12 mb-20 pb-10">
        <label for="" class="pl-10">{{'productImage' | translate}}</label>
        <input (change)="onFileChange($event)" type="file" id="" class="input custom border-0 radius-20 shadow-big"
          #fileInput />
      </div>
      <div class="col as-12 mb-20 pb-10">
        <label for="description" class="pl-10"> {{'aboutProduct' | translate}} </label>
        <div [ngSwitch]="selectLang">
          <div *ngSwitchCase="1">
            <textarea formControlName="description_az" cols="30" rows="10"
              class="input no-resize border-0 radius-20 shadow-big">
            </textarea>
          </div>
          <div *ngSwitchCase="2">
            <textarea formControlName="description_en" cols="30" rows="10"
              class="input no-resize border-0 radius-20 shadow-big">
            </textarea>
          </div>
          <div *ngSwitchCase="3">
            <textarea formControlName="description_ru" cols="30" rows="10"
              class="input no-resize border-0 radius-20 shadow-big">
            </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="clear radius-30 shadow-big p-5 mt-20">
      <button type="submit" [disabled]="product_added"
        class="btn lg bg-green border-0 radius-30 shadow-big float-right">
        {{'button.save' | translate}}
      </button>
    </div>
  </form>
</div>
