<div class="account-body bg-white shadow-big p-40">
  <div class="pb-20 mb-40 border-bottom clear">
    <h3 class="bold m-0 text-main text-uppercase float-left mt-3 mb-3">Təkliflər</h3>
  </div>
  <div class="row as-5 mb-40">
    <div class="col xl-2 lg-3 md-4 sm-6 xs-6">
      <p-dropdown (onChange)="onSelectDialogType($event)" [options]="dialogType" placeholder="Bütün təkliflər"
        filter="true" class="input custom select border-0  shadow-big">
      </p-dropdown>
    </div>
    <div class="col xl-2 lg-3 md-4 sm-6 xs-6">
      <p-dropdown [options]="dialogReadType" (onChange)="onSelectType($event)" placeholder="Bütün təkliflər"
        filter="true" class="input custom select border-0  shadow-big">
      </p-dropdown>
    </div>
  </div>
  <div class="table-responsive o-auto border-0 mb-40">
    <table class="table custom-table bg-gray">
      <thead class="bg-white no-wrap">
        <tr>
          <th>№</th>
          <th>Təklif verən</th>
          <th>Təklif alan</th>
          <th>Məhsul</th>
          <th>Nəticə</th>
          <th>Tarix</th>
          <th>Bax</th>
        </tr>
      </thead>
      <tbody class="text-center no-wrap">
        <tr *ngFor="let offer of offersList; let i=index; trackBy: offersService.trackByFn">
          <td>{{i+1}}</td>
          <td>{{offer?.user_from?.name}}</td>
          <td>{{offer?.user_to?.name}}</td>
          <td>{{offer?.product?.category?.name}} ({{offer?.product?.kind?.name}})</td>
          <td>
            <div [ngSwitch]="offer?.status">
              <div *ngSwitchCase="2">
                Gözlənilmədə
              </div>
              <div *ngSwitchCase="1">
                Razılaşmış təkliflər
              </div>
              <div *ngSwitchCase="0">
                Rəd ədilmiş təkliflər
              </div>
            </div>
          </td>
          <td>21.08.2019, 14:36</td>
          <td>
            <a [routerLink]="[ 'details', offer?.id ]" rel="external" aria-label="Bax" title="Bax" data-toggle="tooltip"
              class="btn xs circle bg-white shadow border-0">
              <i aria-hidden="true" class="icon-eye v-align-middle"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
