<div class="panel relative shadow-big">
  <div class="container as-10 xl-15 lg-15">
    <div class="panel-header pl-0 pr-0">
      <nav aria-label="Breadcrumb navbar">
        <ol class="breadcrumb" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a [routerLink]="['/home']" title="AgroBirja.az - Ana səhifə" itemprop="item">
              <span itemprop="name">AgroBirja.az</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span title="Haqqımızda" itemprop="item" itemscope itemtype="https://schema.org/Thing" id="/about">
              <span itemprop="name">Haqqımızda</span>
            </span>
            <meta itemprop="position" content="3">
          </li>
        </ol>
      </nav>
    </div>

    <div class="panel-header pl-0 pr-0 border-0">
      <h1 class="m-0 bold text-main text-uppercase">
        Haqqımızda
      </h1>
    </div>
  </div>
</div>

<section class="page-wrap bg-white pt-60">
  <div class="container as-15">
    <div class="row as-15 justify-content-center">

      <div class="col as-12 lg-8 pb-40">
        <div class="section-title-wrap text-left w-100p d-table mb-20 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <span class="d-block"> {{about[0]?.title}} </span>
          </h2>
        </div>

        <div class="font-16 light">
          <div [innerHTML]="about[0]?.body"></div>
           
        </div>

      </div>

      <div class="col as-10 lg-4 md-7 pb-40">
        <div class="thumb responsive pb-in-56 contain">
          <img src="{{about[0]?.image}}" alt="LegalStore" width="" height="">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="page-wrap pt-60">
  <div class="container as-15 text-right">
    <div class="row as-15 justify-content-center">

      <div class="col as-12 lg-8 pb-40 xl-or-1 lg-or-1">

        <div class="section-title-wrap text-right w-100p d-table mb-20 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <span class="d-block"> {{about[1]?.title}} </span>
          </h2>
        </div>

        <div class="font-16 light">
            <div [innerHTML]="about[1]?.body"></div>
        </div>

      </div>

      <div class="col as-10 lg-4 md-7 pb-40">
        <div class="thumb responsive pb-in-56 contain">
          <img src="{{about[1]?.image}}" alt="LegalStore" width="" height="">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="page-wrap bg-white pt-60">
  <div class="container as-15">
    <div class="row as-15 justify-content-center">

      <div class="col as-12 lg-8 pb-40">

        <div class="section-title-wrap text-left w-100p d-table mb-20 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <span class="d-block"> {{about[2]?.title}} </span>
          </h2>
        </div>

        <div class="font-16 light">
            <div [innerHTML]="about[2]?.body"></div>
        </div>

      </div>

      <div class="col as-10 lg-4 md-7 pb-40">
        <div class="thumb responsive pb-in-56 contain">
          <img src="{{about[2]?.image}}" alt="LegalStore" width="" height="">
        </div>
      </div>
    </div>
  </div>
</section>
