<div class="panel relative shadow-big">
    <div class="container as-10 xl-15 lg-15">
        <div class="panel-header pl-0 pr-0">
            <nav aria-label="Breadcrumb navbar">
                <ol class="breadcrumb" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="/" title="AgroBirja.az - Ana səhifə" itemprop="item">
                            <span itemprop="name">AgroBirja.az</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span title="Haqqımızda" itemprop="item" itemscope itemtype="https://schema.org/Thing" id="/about">
                            <span itemprop="name">Haqqımızda</span>
                        </span>
                        <meta itemprop="position" content="3">
                    </li>
                </ol>
            </nav>
        </div>

        <div class="panel-header pl-0 pr-0 border-0">
            <h1 class="m-0 bold text-main text-uppercase">
                Haqqımızda
            </h1>
        </div>
    </div>
</div>

<section class="page-wrap bg-white pt-60">
    <div class="container as-15">
        <div class="row as-15 justify-content-center">

            <div class="col as-12 lg-8 pb-40">


                <div class="section-title-wrap text-left w-100p d-table mb-20 pb-10">
                    <h2 class="section-title relative bold text-uppercase mb-0">
                        <span class="d-block">Biz kimik?</span>
                    </h2>
                </div>

                <div class="font-16 light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae doloremque ipsum unde.
                        Accusantium animi autem, corporis cum dignissimos enim explicabo fuga id illo in nam quam,
                        quia rem reprehenderit vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
                        earum id laboriosam maxime modi mollitia quis velit. Animi aspernatur atque consectetur, corporis
                        deserunt dolor incidunt labore nobis omnis placeat porro.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem </p>
                </div>

            </div>

            <div class="col as-10 lg-4 md-7 pb-40">
                <div class="thumb responsive pb-in-56 contain">
                    <img src="assets/images/ulu.png" alt="LegalStore" width="" height="">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="page-wrap pt-60">
    <div class="container as-15 text-right">
        <div class="row as-15 justify-content-center">

            <div class="col as-12 lg-8 pb-40 xl-or-1 lg-or-1">

                <div class="section-title-wrap text-right w-100p d-table mb-20 pb-10">
                    <h2 class="section-title relative bold text-uppercase mb-0">
                        <span class="d-block">Vizyonumuz</span>
                    </h2>
                </div>

                <div class="font-16 light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem id
                        laboriosam molestiae necessitatibus nesciunt numquam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem id
                        laboriosam molestiae necessitatibus nesciunt numquam. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.</p>
                </div>

            </div>

            <div class="col as-10 lg-4 md-7 pb-40">
                <div class="thumb responsive pb-in-56 contain">
                    <img src="assets/images/ulu.png" alt="LegalStore" width="" height="">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="page-wrap bg-white pt-60">
    <div class="container as-15">
        <div class="row as-15 justify-content-center">

            <div class="col as-12 lg-8 pb-40">

                <div class="section-title-wrap text-left w-100p d-table mb-20 pb-10">
                    <h2 class="section-title relative bold text-uppercase mb-0">
                        <span class="d-block">Missiyamız</span>
                    </h2>
                </div>

                <div class="font-16 light">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem id
                        laboriosam molestiae necessitatibus nesciunt numquam.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur laborum obcaecati
                        odio odit? Harum illum laborum odit quam! Aliquid dolorem eaque excepturi exercitationem id
                        laboriosam molestiae necessitatibus nesciunt numquam. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.</p>
                </div>

            </div>

            <div class="col as-10 lg-4 md-7 pb-40">
                <div class="thumb responsive pb-in-56 contain">
                    <img src="assets/images/ulu.png" alt="LegalStore" width="" height="">
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <section class="page-wrap bg-gray pt-60 pb-20">
    <div class="container as-15">

        <div class="section-title-wrap text-center w-100p d-table mb-20 pb-10">
            <h2 class="section-title relative bold text-uppercase mb-0">
                <strong>Kollektivimiz</strong>
            </h2>
        </div>

        <div class="row as-15 justify-content-center text-center">

            <div class="col as-4 sm-6 xs-12 mb-40">
                <div class="person item bg-white shadow-big pointer h-100p" data-target-modal="person-info">
                    <div class="thumb scale hover responsive pb-in-65 mb-10">
                        <img data-src="https://admin.euro.savills.co.uk/_images/djkehoe(1).jpg" alt="Person Name" width="" height="">
                    </div>

                    <div class="info p-40 pt-15 pb-15 clear no-pointer-events">
                        <h3 class="title h5 mb-15 bold tr-3s"><u>Person Name</u></h3>
                        <span class="line-clamp line-2 text-gray pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                </div>
            </div>

            <div class="col as-4 sm-6 xs-12 mb-40">
                <div class="person item bg-white shadow-big pointer h-100p" data-target-modal="person-info">
                    <div class="thumb scale hover responsive pb-in-65 mb-10">
                        <img data-src="https://admin.euro.savills.co.uk/_images/djkehoe(1).jpg" alt="Person Name" width="" height="">
                    </div>

                    <div class="info p-40 pt-15 pb-15 clear no-pointer-events">
                        <h3 class="title h5 mb-15 bold tr-3s"><u>Person Name</u></h3>
                        <span class="line-clamp line-2 text-gray pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                </div>
            </div>

            <div class="col as-4 sm-6 xs-12 mb-40">
                <div class="person item bg-white shadow-big pointer h-100p" data-target-modal="person-info">
                    <div class="thumb scale hover responsive pb-in-65 mb-10">
                        <img data-src="https://admin.euro.savills.co.uk/_images/djkehoe(1).jpg" alt="Person Name" width="" height="">
                    </div>

                    <div class="info p-40 pt-15 pb-15 clear no-pointer-events">
                        <h3 class="title h5 mb-15 bold tr-3s"><u>Person Name</u></h3>
                        <span class="line-clamp line-2 text-gray pb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section> -->

<!--Person Detail-->
<!-- <div class="modal lg person-info tr-3s"
     data-modal="person-info"
     data-open-animation="zoomIn"
     data-close-animation="zoomOut"
     role="dialog"
     tabindex="-1">

    <div class="modal-content bg-white tr-3s">

        <span aria-hidden="true" class="close fixed-close icon-close" data-close="person-info"></span>

        <div class="row">

            <div class="col as-4 sm-12 xs-12 text-center p-40 border-bottom">

                <div class="person-image thumb responsive pb-in-100 bg-gray shadow radius-50p float-center mb-20">
                    <img data-src="https://admin.euro.savills.co.uk/_images/djkehoe(1).jpg" alt="Person Name" width="150" height="150">
                </div>

                <h4 class="person-name bold mb-15">Person Name</h4>
                <span class="job text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

            </div>

            <div class="col as-8 sm-12 xs-12 p-40 border-bottom font-16 light">
                <h3 class="bold mb-30">Haqqında</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci aliquid commodi cupiditate deleniti
                    dolor eveniet ex illum incidunt itaque nisi omnis optio quas sit soluta suscipit tempora voluptates,
                    voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur facere, fuga fugiat
                    incidunt ipsa molestias nihil nisi perspiciatis praesentium reiciendis soluta suscipit voluptas.
                    Deleniti deserunt eaque natus ratione. Enim, voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci aliquid commodi cupiditate deleniti
                    dolor eveniet ex illum incidunt itaque nisi omnis optio quas sit soluta suscipit tempora voluptates,
                    voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur facere, fuga fugiat
                    incidunt ipsa molestias nihil nisi perspiciatis praesentium reiciendis soluta suscipit voluptas.
                    Deleniti deserunt eaque natus ratione. Enim, voluptates.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, adipisci aliquid commodi cupiditate deleniti
                    dolor eveniet ex illum incidunt itaque nisi omnis optio quas sit soluta suscipit tempora voluptates,
                    voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur facere, fuga fugiat
                    incidunt ipsa molestias nihil nisi perspiciatis praesentium reiciendis soluta suscipit voluptas.
                    Deleniti deserunt eaque natus ratione. Enim, voluptates.</p>
            </div>

        </div>

        <div class="p-20 text-center">
            <span class="pointer"
                  aria-label="Bağla"
                  aria-hidden="true"
                  data-close="person-info">Bağla</span>
        </div>

    </div>

</div> -->