<!-- Birja table -->
<div class="bg-white">
  <div class="container as-10 xl-15 lg-15 pt-20 pb-20">
    <div class="table-responsive border-0">
      <table class="table custom-table bg-gray shadow-big">
        <thead class="bg-white">
          <tr>
            <th colspan="2">{{'salesMan'| translate}}</th>
            <th>{{'product'| translate}}</th>
            <th>{{'type'| translate}}</th>
            <th>{{'price'| translate}}</th>
            <th>{{'quantity'| translate}}</th>
            <th>{{'sale'| translate}}</th>
            <th>{{'date'| translate}}</th>
            <th><i aria-hidden="true" class="icon-ellipsis-h-circle"></i></th>
          </tr>
        </thead>
        <tbody class="no-wrap">
          <tr *ngFor="let product of productList; let i=index; trackBy: homeService.trackByFn">
            <td class="pr-0">
              <div *ngIf="product?.images[0]?.url" class="thumb responsive pb-in-100 radius-50p w-30 border">
                <img src="{{product?.images[0]?.url}}" alt="MARS-FK LTD MMM" width="30" height="30">
              </div>
            </td>
            <td width="30%">
              <span [routerLink]="[ '/companyInfo/profile', product?.user_id ]"
                class="bold pointer text-main">{{product?.user?.name}}</span>
            </td>
            <td>{{product?.category?.name}}</td>
            <td>{{product?.kind?.name}}</td>
            <td>
              <span class="p-5 pl-7 pr-7 bg-gray radius-4 text-green bold">
                {{product?.price}}
                <i aria-hidden="true" class="icon-currency-azn small"></i>
                / {{product?.unit?.name}}
              </span>
            </td>
            <td><span class="text-special bold">{{product?.common}} {{product?.unit?.name}} </span></td>
            <td>
              <div class="progress radius-5 w-100">
                <div [ngStyle]="{'width': product?.sell + '%'}" class="progress-bar radius-5 bg-main text-right"
                  role="progressbar"> {{product?.sell}} %</div>
              </div>
            </td>
            <td>
              <span class="text-gray">{{product?.created_at |date: 'dd/MM/yyyy'}}</span>
            </td>
            <td class="text-right">
              <a [routerLink]="[ '/birja/details', product?.id ]" aria-label="Ətraflı məlumat" title="Ətraflı məlumat"
                data-toggle="tooltip" class="btn xs circle border-0 shadow-big text-green">
                <i aria-hidden="true" class="icon-eye v-align-middle"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Uzvler -->
<div class="container as-10 xl-10 lg-10 pt-40 pb-40">
  <div class="section-title-wrap w-100p d-table mb-40">
    <h2 class="section-title relative bold text-uppercase mb-5">
      <a [routerLink]="['/members']" class="d-block" title="Üzvlər" [attr.data-see-all]="'seeAll'| translate">{{'navigation.members'| translate}}</a>
    </h2>
    <!-- <p class="section-description text-gray mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
  </div>
  <owl-carousel [options]="membersOwlOptions" [items]="membersList"
    [carouselClasses]="['owl-theme','owl-carousel','news-carousel']">
    <div class="item bg-white" *ngFor="let member of membersList; trackBy: homeService.trackByFn">
      <a [routerLink]="[ '/companyInfo/profile', member.id ]" title="{{member?.description}}" class="block clear">
        <div class="thumb hover scale responsive pb-in-65">
          <img src="{{member?.avatar}}" alt="title" width="" height="">
        </div>
        <div class="info p-15 text-center tr-3s">
          <span class="title font-16 bold line-clamp line-1">{{member?.name}} </span>
        </div>
      </a>
    </div>
  </owl-carousel>
</div>

<!-- Uzvler  End-->
<section class="bg-white">
  <div class="container as-10 xl-15 pt-40">
    <div class="row as-10 xl-15">

      <!-- <div class="col as-12 lg-6 mb-40">
        <div class="section-title-wrap w-100p d-table mb-10 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <span class="d-block">1000 AZN nə oldu?</span>
          </h2>
        </div>
        <canvas id="chart-1000" class="border"></canvas>
      </div> -->

      <div class="col as-12 lg-5 mb-40">

        <div class="section-title-wrap w-100p d-table mb-10 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <span class="d-block">
              {{'areaProductivity'| translate }}</span>
          </h2>
        </div>

        <div class="responsive o-auto pb-in-90 bg-gray">
          <div class="wrap d-flex-center text-center">
            <div  id="map">
             
            </div>
          </div>
        </div>

      </div>

      <div class="col as-12 lg-7 mb-40">
        <div class="section-title-wrap w-100p d-table mb-10 pb-10">
          <h2 class="section-title relative bold text-uppercase mb-0">
            <a title="Satışda" class="d-block" [attr.data-see-all]="'seeAll'| translate"> {{'onSale'| translate }}</a>
          </h2>
        </div>
        <div class="table-responsive border-0">
          <table class="table custom-table bg-gray">
            <thead class="bg-white">
              <tr>
                <th>{{'product' | translate}}</th>
                <th>{{'type' | translate}}</th>
                <th>{{'downPrice' | translate}}</th>
                <th> {{'upPrice' | translate}} </th>
                <th>{{'quantity' | translate}}</th>
              </tr>
            </thead>
            <tbody class="no-wrap">
            <tr *ngFor="let item of productStat">
              <td>{{item?.category?.name}}</td>
              <td>{{item?.kind?.name}}</td>
              <td>
                  <span class="p-5 pl-7 pr-7 bg-gray radius-4 text-red bold">
                    {{(+item?.min_price).toFixed(2)}}
                    <i aria-hidden="true" class="icon-currency-azn small"></i>
                    / {{item?.unit?.name}}
                  </span>
              </td>
              <td>
                  <span class="p-5 pl-7 pr-7 bg-gray radius-4 text-green bold">
                    {{(+item?.max_price).toFixed(2)}}
                    <i aria-hidden="true" class="icon-currency-azn small"></i>
                    / {{item?.unit?.name}}
                  </span>
              </td>
              <td><span class="text-special bold">{{item?.common}} {{item?.unit?.name}}</span></td>
              <!-- <td>
                <div class="progress radius-5 w-100">
                  <div class="progress-bar radius-5 bg-main text-right" role="progressbar" style="width: 70%">70%
                  </div>
                </div>
              </td> -->
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Xeberler  -->
<div class="container as-10 xl-10 lg-10 pt-40 pb-40">
  <div class="section-title-wrap w-100p d-table mb-40">
    <h2 class="section-title relative bold text-uppercase mb-5">
      <a [routerLink]="['/news']" class="d-block" title="Xəbərlər" [attr.data-see-all]="'seeAll'| translate">{{'navigation.news' | translate}}</a>
    </h2>
  </div>
  <owl-carousel [options]="newOwlOptions" [items]="allNews"
    [carouselClasses]="['owl-theme','owl-carousel','news-carousel']">
      <div class="item news-item bg-white" *ngFor="let news of allNews; trackBy: homeService.trackByFn">
        <a [routerLink]="[ '/news/detail', news.id ]" title="{{news?.title}}" class="d-block clear">
          <div class="thumb hover scale responsive pb-in-65">
            <img src="{{news?.image}}" alt="title" width="" height="">
          </div>
          <div class="info tr-3s border-top">
            <div class="clear mb-10">

              <span class="date-time d-in-block text-gray light">
                <i aria-hidden="true" class="icon-calendar-8 text-special mr-10"></i>
                {{news?.created_at |  date}}
              </span>

            </div>

            <span class="title text-black font-16 bold line-clamp line-3"> {{news?.description}} </span>
          </div>
        </a>
      </div>
  </owl-carousel>
</div>
<!-- Xeberler  End  -->
