<div class="panel relative shadow-big">
    <div class="container as-10 xl-15 lg-15">
        <div class="panel-header pl-0 pr-0">
            <nav aria-label="Breadcrumb navbar">
                <ol class="breadcrumb" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a href="/" title="AgroBirja.az - Ana səhifə" itemprop="item">
                            <span itemprop="name">AgroBirja.az</span>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <span title="Aqronomlar" itemprop="item" itemscope itemtype="https://schema.org/Thing" id="/agronomists">
                            <span itemprop="name">Aqronomlar</span>
                        </span>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </nav>
        </div>

        <div class="panel-header pl-0 pr-0 border-0">
            <h1 class="m-0 bold text-main text-uppercase">
                Aqronomlar
            </h1>
        </div>
    </div>
</div>

<div class="container as-10 xl-15 lg-15 pt-30 pb-30">

    <div class="row as-15 sm-5 xs-5">

        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col xl-3 lg-4 md-6 sm-6 xs-12 mb-30">
            <div class="item bg-white shadow-big h-100p">
                <div class="thumb scale responsive pb-in-80 border-bottom">
                    <img src="https://as2.ftcdn.net/jpg/02/52/60/65/500_F_252606582_EKvvMadAdtVh3lPMLAd8W8pfdvtViVJn.jpg" alt="Aqronomist name" width="300" height="240">
                </div>
                <div class="p-15 pb-10 text-center text-uppercase">
                    <a href="agronomist-account.php" title="Aqronomist name" class="d-block">
                        <span class="title font-16 text-main bold line-clamp line-1"><u>Aqronomist name</u></span>
                        <small class="type text-gray mt-3">Lorem ipsum dolor sit amet</small>
                    </a>

                    <div class="border-top pt-10 mt-10 text-center">
                        <a href="#" title="Facebook" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-fb border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-facebook v-align-middle"></i>
                        </a>
                        <a href="#" title="Twitter" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-tw border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-twitter v-align-middle"></i>
                        </a>
                        <a href="#" title="Linkedin" rel="external noopener noreferrer" data-toggle="tooltip" class="social-link btn xs circle bg-ln border-0 shadow-big ml-2 mr-2">
                            <i aria-hidden="true" class="icon-social-linkedin v-align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <nav class="pagination-nav bg-white p-15 shadow-big" aria-label="Səhifələmə naviqatoru" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul class="page-numbers m-0 p-0" role="menubar">
            <li role="presentation" class="first float-left hide-xs">
                <a href="#" role="button" rel="prev" class="btn tr-3s disabled legitRipple" title="Əvvəlki səhifə">
                    <span>Əvvəlki</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" rel="start" role="menuitem" class="active" aria-current="true" aria-posinset="1" data-pagenum="1" title="Səhifə 1" itemprop="url">
                    <span itemprop="name">1</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="2" data-pagenum="2" title="Səhifə 2" itemprop="url">
                    <span itemprop="name">2</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="3" data-pagenum="3" title="Səhifə 3" itemprop="url">
                    <span itemprop="name">3</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="4" data-pagenum="4" title="Səhifə 4" itemprop="url">
                    <span itemprop="name">4</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="5" data-pagenum="5" title="Səhifə 5" itemprop="url">
                    <span itemprop="name">5</span>
                </a>
            </li>
            <li role="separator" aria-hidden="true">…</li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="10" data-pagenum="10" title="Səhifə 10" itemprop="url">
                    <span itemprop="name">10</span>
                </a>
            </li>
            <li role="presentation">
                <a href="#" role="menuitem" aria-current="true" aria-posinset="11" data-pagenum="11" title="Səhifə 11" itemprop="url">
                    <span itemprop="name">11</span>
                </a>
            </li>
            <li role="presentation" class="last float-right hide-xs">
                <a href="#" role="button" rel="next" class="btn tr-3s legitRipple" title="Sonrakı səhifə">
                    <span>Sonrakı</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
