<div class="panel relative shadow-big">
  <div class="container as-10 xl-15 lg-15">
    <div class="panel-header pl-0 pr-0">
      <nav aria-label="Breadcrumb navbar">
        <ol class="breadcrumb" aria-label="Breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="/" title="AgroBirja.az - Ana səhifə" itemprop="item">
              <span itemprop="name">AgroBirja.az</span>
            </a>
            <meta itemprop="position" content="1">
          </li>
          <li aria-current="page" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span title="Üzvlər" itemprop="item" itemscope itemtype="https://schema.org/Thing" id="/partners">
              <span itemprop="name">Üzvlər</span>
            </span>
            <meta itemprop="position" content="2">
          </li>
        </ol>
      </nav>
    </div>
    <div class="panel-header pl-0 pr-0 border-0">
      <h1 class="m-0 bold text-main text-uppercase">
        Üzvlər
      </h1>
    </div>
  </div>
</div>
<div class="container as-10 xl-15 lg-15 pt-30 pb-30">
  <div class="row as-15 sm-5 xs-5">
    <div *ngFor="let member of membersList; trackBy: memberService.trackByFn"
      class="col xl-3 lg-4 md-6 sm-6 xs-6 mb-30">
      <div class="item bg-white shadow-big h-100p">
        <a [routerLink]="[ '/companyInfo/profile', member?.id ]" title="Company name" class="d-block">
          <div class="thumb contain responsive pb-in-60 border-bottom">
            <img src="{{member?.avatar}}" alt="Company name" width height class="p-5">
          </div>
          <div class="p-15 pb-10 text-center text-uppercase">
            <span style="display: block" class="title font-16 text-main bold line-clamp line-1"> {{member?.name}}
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <p-paginator *ngIf="membersList?.length" [rows]="pagination?.per_page" [totalRecords]="pagination?.total"
      (onPageChange)="paginate($event)"></p-paginator>
  </div>
</div>
