@charset "utf-8";

body, html {
  letter-spacing: .5px;
}

:root {

  @media (min-width: $lg-min) {
    --header-height: 100px;
  }

  @media (max-width: $md-max) {
    --header-height: 60px;
  }

  --header-height-half: calc(var(--header-height) / 2);
}

/*====================================================================================================================*/
/* Main Header */
/*====================================================================================================================*/

.main-header {
  position: sticky;
  top: 0;
  z-index: 999;

  @media (min-width: $lg-min) {
    background-color: $white;
  }

  @media (max-width: $md-max) {
    background-color: $main;

    .container{
      width: 100% !important;
    }
  }

  .container {
    display: flex;

    .right-side {
      flex: 1 1 0;
    }
  }
}

/*====================================================================================================================*/
/* Header Top Side */
/*====================================================================================================================*/

.right-side-top {
  @media (min-width: $lg-min) {
    height: var(--header-height-half);
    padding: calc((var(--header-height-half) - 36px) / 2) 0;
  }

  @media (max-width: $md-max) {
    .btn{
      margin-right: 10px;
      margin-left: 0;
    }
  }
}

/*====================================================================================================================*/
/* Logo */
/*====================================================================================================================*/

.logo {
  line-height: var(--header-height);
  z-index: 3;

  img {
    height: calc(var(--header-height) - 20px);
  }

  @media (min-width: $lg-min) {
    &:before {
      content: '';
      position: absolute;
      right: -25px;
      bottom: 0;
      height: 100%;
      width: 100vw;
      background-color: darken($main, 5%);
      -webkit-transform: skewX(25deg);
      transform: skewX(25deg);
      z-index: -1;
    }

    img {
      height: calc(var(--header-height) - 50px);
    }
  }
}

/*====================================================================================================================*/
/* Lang menu */
/*====================================================================================================================*/

.lang-menu{
  display: flex;

  li{
    flex: 1 1 0;

    .menu-item{
      text-align: center;
      color: #999;

      &:hover{
        background-color: $blackTr-05;
      }

      &.active{
        background-color: $blackTr-05;
        color: $main !important;
        font-weight: bold !important;
      }
    }
  }

  @media (min-width: $lg-min) {
    position: absolute;
    top: -44px;
    left: 40px;

    li{
      .menu-item{
        width: 37px;
        height: 37px;
        line-height: 37px;
        margin-right: 5px;
        @include box-shadow(0 0 40px 0 rgba(0, 0, 0, 0.1));
        @include border-radius(50%);
      }
    }
  }

  @media (max-width: $md-max) {
    padding: 15px !important;

    li{
      padding: 0 5px;

      .menu-item{
        line-height: inherit !important;
      }

      &:not(:last-child){
        border-right: 1px solid $borderColor;
      }
    }
  }
}

/*====================================================================================================================*/
/* Currency */
/*====================================================================================================================*/

.currency-wrap{
  @media (min-width: $lg-min) {
    position: absolute !important;
    top: -44px;
    left: 175px;
    border: 0 !important;
  }
  @media (max-width: $md-max) {
    display: flex;
    padding: 10px 20px;
    line-height: 37px;

    span{
      flex: 1 1 0;
    }
  }
}

.live-support{
  @media (min-width: $lg-min) {
    position: absolute !important;
    left: 430px;
    color: $main;
  }

  @media (min-width: $lg-min) and (max-width: $lg-max) {
    left: 328px !important;
  }

  @media (max-width: $md-max) {
    color: $white;
  }

  .legitRipple-ripple {
    background: rgba(0, 0, 0, .1) !important;
  }
}

/*====================================================================================================================*/
/* Nav Toggle */
/*====================================================================================================================*/

.nav-toggle {
  display: block;
  padding: 29px 15px;
  text-align: center;
  cursor: pointer;
  @include transition(all 0.3s);

  i, &:before, &:after {
    display: block;
    height: 2px;
    width: 20px;
    background-color: $white;
    @include transition(all 0.3s);
  }

  &:before, &:after {
    position: absolute;
    content: '';
    transform-origin: left;
  }

  &:before {
    margin-top: -7px;
  }

  &:after {
    margin-top: 5px;
  }
}

/*====================================================================================================================*/
/* Main Nav */
/*====================================================================================================================*/

.main-nav {
  @media (min-width: $lg-min) {
    width: 100%;
    background-color: $main;

    &:before {
      content: '';
      position: absolute;
      left: 100%;
      bottom: 0;
      height: 100%;
      width: calc(100vw - (100vw + 940px) / 2);
      background-color: $main;
    }

    .nav-menu {
      li {
        float: left;
        padding: calc((var(--header-height-half) - (var(--header-height-half) - 10px)) / 2) 0;

        .menu-item {
          line-height: calc(var(--header-height-half) - 10px);
          padding: 0 13px;
          border-radius: 20px;
          color: #fff !important;
          font-size: 13px;

          &:hover {
            background-color: $whiteTr-05;
          }

          &.current-page{
            background-color: $whiteTr-1;
            @include box-shadow(0 0 40px 0 rgba(0, 0, 0, 0.1));
          }
        }

        &.contact-us{
          position: absolute;
          top: -49px;
          left: 270px;

          a{
            padding: 8px 14px;
            font-size: 14px;
            line-height: 1.42857143;
            color: $main !important;
            font-weight: normal;
            @include box-shadow(0 0 40px 0 rgba(0, 0, 0, 0.1));

            &:active{
              @include box-shadow(inset 0 3px 5px rgba(0,0,0,0.175));
            }

            .legitRipple-ripple {
              background: rgba(0, 0, 0, .1) !important;
            }

          }
        }
      }
    }
  }

  @media (min-width: $xl) {
    &:before {
      width: calc(100vw - (100vw + 1180px) / 2);
    }

    .nav-menu {
      li {
        .menu-item {
          padding: 0 20px;
          font-size: 15px;
        }
      }
    }
  }

  @media (min-width: 1300px) {
    &:before {
      width: calc(100vw - (100vw + 1280px) / 2);
    }
  }

  @media (max-width: $md-max) {
    position: fixed;
    top: var(--header-height);
    left: -310px;
    width: 300px;
    height: calc(100vh - var(--header-height));
    background-color: $white;
    overflow: auto;

    ul {
      padding: 10px 0;

      li {
        .menu-item {
          padding: 15px 20px;
          color: #000 !important;

          &.current-page{
            background-color: $main;
            color: #fff !important;
          }

          &:not(.current-page) .legitRipple-ripple {
            background: $blackTr-1 !important;
          }
        }
      }
    }
  }
}

@media (max-width: $md-max) {
  .nav-shown{
    .main-nav{
      left: 0;
    }
  }
}

/*====================================================================================================================*/
/* Sub Header Side */
/*====================================================================================================================*/

.sub-header-side{

  @media (min-width: $lg-min) {
    .lg-3:not(:last-child){
      border-right: 1px solid $borderColor;
    }
  }

  @media (max-width: $md-max) {
    padding-bottom: 8px;

    .lg-3{
      border-top: 1px solid $borderColor;
      padding-top: 15px;
      margin-top: 15px;

      &:first-child{
        border: 0;
        margin-top: -7px;
      }
    }
  }
}

.v-widget{
  .i1{
    font-size: 25px;
    color: #aaa;
  }

  @media (max-width: $md-max) {
    .item{
      border-right: 1px solid $borderColor;
      padding: 0 15px;
    }
  }
}

/*====================================================================================================================*/
/* Main Content */
/*====================================================================================================================*/

.members-carousel{
  .item{
    &:hover{
      .info{
        background-color: $main;

        .title{
          color: $white !important;
        }
      }
    }
  }
}

/*====================================================================================================================*/
/* News */
/*====================================================================================================================*/

.news-item{
  .info{
    padding: 20px;

    .title{
      height: 62px;
      overflow: hidden;
    }
  }

  &:hover{
    .info{
      background-color: $main;

      span, i{
        color: $white !important;
      }
    }
  }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.custom-table{
  border-collapse: inherit !important;
  border-spacing: 2px !important;

  th, td{
    border-top: 0 !important;
    text-align: left;
    padding: 15px !important;
  }

  th, tr:not(:last-child) td{
    border-bottom: 5px solid #f8f9fa !important;
  }

  th{
    font-size: 13px !important;
    color: #999 !important;
    text-transform: uppercase;
  }

  td{
    background-color: #fff;
  }

  .progress-bar{
    vertical-align: middle;
    line-height: 11px;
    font-size: 10px;
    padding-right: 5px;
    height: 10px !important;
  }
}

/*====================================================================================================================*/
/* Article */
/*====================================================================================================================*/

.article{

  .article-title{
    line-height: 1.2em;
  }

  @media (min-width: $sm-min) {
    .article-side{
      .share-col{
        text-align: right;
      }
    }
  }
  @media (max-width: $xs) {

    .article-title{
      font-size: 26px;
      text-align: center;
    }

    .article-side{
      text-align: center;

      .share-col{
        border-top: 1px solid $borderColor;
        padding-top: 10px;
        margin-top: 10px;
      }
    }
  }
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/
/*====================================================================================================================*/

.login-wrap{
  background-image: url($imagePath + "login-bg.jpg");
  background-size: cover;
  background-position: center;
}

.reg-types{
  .btn{
    color: $white !important;
    background-color: $whiteTr-1;
    min-height: 100px;

    &:hover{
      background-color: $whiteTr-2;
    }
  }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

.section-title-wrap{

  *{
    &:not(.section-description){
      color: $main !important;
    }
  }

  a{

    &:after{
      content: attr(data-see-all) ' ❯';
      float: right;
      line-height: 27px;
      font-size: 15px;
      font-weight: bold;
      color: $special;
    }
  }

  @media (max-width: $sm-max) {

    i{
      font-size: 24px;
    }

    a{
      font-size: 20px;

      &:after{
        line-height: 23px !important;
        font-size: 13px !important;
      }
    }
  }
}

/*====================================================================================================================*/
/*====================================================================================================================*/

/*====================================================================================================================*/
/* Custom Width */
/*====================================================================================================================*/

.container {
  @media (min-width: 1300px) {
    width: 1300px;
  }
}

.w-30 {
  width: 30px;
}

.w-70 {
  width: 70px;
}

.w-100 {
  width: 100px;
}

.w-120 {
  width: 120px;
}

.w-140 {
  width: 140px;
}

.w-150 {
  width: 150px;
  max-width: 150px !important;
}

.w-160 {
  width: 160px;
}

.w-200 {
  width: 200px;
}

.w-220 {
  width: 220px;
}

.w-260 {
  width: 260px;
}

.w-300 {
  width: 300px;
  max-width: 300px !important;
  min-width: 300px !important;
}

.w-320 {
  width: 320px;
  max-width: 320px !important;
}

.w-340 {
  width: 340px;
  max-width: 340px !important;
}

.w-585 {
  width: 585px !important;
  min-width: 585px !important;
  max-width: 585px !important;
  height: 65px !important;
}

.w-830 {
  width: 830px !important;
  min-width: 830px !important;
  max-width: 830px !important;
}

.w-850 {
  width: 850px !important;
  min-width: 850px !important;
  max-width: 850px !important;
}

/*====================================================================================================================*/
/* Custom Heigt */
/*====================================================================================================================*/

.h-48 {
  height: 48px;
}

.h-54 {
  height: 54px;
}

.h-100 {
  height: 100px;
}

.h-150 {
  height: 150px;
}

.h-160 {
  height: 160px;
}

.h-200 {
  height: 200px;
}

.h-250 {
  height: 250px;
}

.h-320 {
  height: 320px;
}

.h-1450 {
  height: 1450px;
}

.h-1180 {
  height: 1180px;
}

.h-100p {
  height: 100%;
}

.m-h-845 {
  min-height: 845px !important;
}

.mh-1833 {
  min-height: 1833px;
}

.mh-2220 {
  min-height: 2220px;
}

/*====================================================================================================================*/
/* Font Size */
/*====================================================================================================================*/

.font-15 {
  font-size: 15px;
  line-height: 1.4em;
}

.font-16 {
  font-size: 16px;
  line-height: 1.5em;
}

.font-17 {
  font-size: 17px;
  line-height: 1.5em;
}

.font-18 {
  font-size: 18px;
  line-height: 1.5em;
}

.font-20 {
  font-size: 20px !important;
  line-height: 1.3em !important;
}

/*====================================================================================================================*/
/* Overlay */
/*====================================================================================================================*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.nav-shown{
  .overlay{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.xlg .modal-content{
  @media (min-width: $lg-min) {
    width: calc(100% - 100px) !important;
  }
}

.shadow-big{
  @include box-shadow(0 0 40px 0 rgba(0, 0, 0, 0.1))
}

.modal .close:after {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*====================================================================================================================*/
/*====================================================================================================================*/
/*####################################################################################################################*/

