
/*====================================================================================================================*/
/* Project Item */
/*====================================================================================================================*/

.project-item .panel-footer img{
  margin-right: -10px;
  border: 2px solid #fff;
}

/*====================================================================================================================*/
/* Task Detail */
/*====================================================================================================================*/

@media (min-width: 992px) {

  .task-detail-modal{
    position: relative;
    background: none !important;
    height: auto !important;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    z-index:  0 !important;
    overflow: visible !important;
  }

  .task-detail-modal .close{
    position: relative !important;
    right: 0 !important;
  }

  .task-detail-modal .modal-content{
    animation-duration: 0s !important;
  }

  .task-detail-panel{
    box-shadow: none !important;
    height: 500px !important;
  }


}

.task-detail-modal{
  padding: 0 !important;
}

.task-detail-panel {
  height: 100vh;
}

.task-detail-panel .panel-body{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.task-detail-panel .fr-toolbar{
  border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: none !important;
}

.task-detail-panel .fr-wrapper{
  box-shadow: none !important;
}

.task-detail-panel .fr-element{
  padding: 15px;
}

.task-detail-panel .fr-element p,
.task-detail-panel .fr-element li{
  margin-bottom: 2px;
  word-break: break-word;
}

/*====================================================================================================================*/
/* Post Previews */
/*====================================================================================================================*/

.fb-wrap{
  background-color: #e9ebee;

  .post-facebook{
    width: 500px;
    max-width: 100%;
    line-height: 1.4em;

    .copy-short{
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 28px;
    }

    .post-images{
      img{
        width: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: cover;
        object-position: center;
        float: left;

        &:first-child{
          height: 320px;
          width: 100%;
          margin-bottom: 2px;
        }

        &:nth-child(n + 2){
          width: calc(100% / 3 - 2px);
          height: 160px;
          margin: 0 1px;
        }
      }
    }
  }
}

.tw-wrap{
  background-color: #f5f8fa;

  .post-twitter{
    width: 600px;
    max-width: 100%;
    line-height: 1.4em;

    .copy-short{
      font-size: 24px;
      font-weight: 300;
      letter-spacing: 0;
      line-height: 28px;
    }

    .post-images{
      img{
        width: 100%;
        max-width: 600px;
        max-height: 600px;
        object-fit: cover;
        object-position: center;
        float: left;

        &:first-child{
          width: calc((100% / 3 * 2) - 2px);
          margin-right: 2px;
          height: 388px;
        }

        &:nth-child(n + 2){
          width: calc((100% / 3 * 1) - 2px);
          margin-bottom: 2px;
          height: calc(388px / 3 - 2px);
        }

      }
    }
  }
}

@media (min-width: 992px) {
  .d-md-block {
    display: block !important;
  }
}

.font-16{
  font-size: 16px;
  line-height: 1.4em;
}
